<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
  body{
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 10%;
  }
</style>
<body>

    <form id="prospects_form">
  <div class="form-group">
    <label for="exampleInputPassword1">New Password</label>
    <input type="password" class="form-control passwordvalue" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    let data={}
    var parsed_data=`<%- JSON.stringify(userid)%>`
    data.id=parsed_data;
    let password
    document.querySelector('.passwordvalue').addEventListener('change',(e)=>{
      password=e.target.value
      data.password=password
    })
    document.querySelector('button').addEventListener('click',(e)=>{
      console.log(data)
      let url="https://geekscode-official-contest.herokuapp.com/resetpassword"
      $.ajax({
        type: "POST",
        data: JSON.stringify(data),
        url,
        contentType: "application/json",
        success: function (data) {
          window.location.replace("https://geeksmanjcbust.in")
        },
        error: function (error) {
          alert('could not change your password please try again later')
        },
      });
     })
    
    $("#prospects_form").submit(function(e) {
    e.preventDefault();
});
    
</script>
</html>